<div id="header">
	<div id="logo">
		<div id="logo_text">
		<!-- class="logo_colour", allows you to change the colour of the text -->
			<h1><a href="/index.html">Sun Yuanhui's<span class="logo_colour">Blog</span></a></h1>
			<h2>孙渊汇的个人博客</h2>
		</div>
	</div>
	<div id="menubar">
		<ul id="menu">
			<!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
			<li class="selected"><a href="/index.html">Home</a></li>
			<!-- <li><a href="page.html">A Page</a></li>-->
			<li><a href="#">Contact Me</a></li>
		</ul>
	</div>
</div>
<div id="content_header"></div>
