<div class="sidebar">
	<!-- insert your sidebar items here -->
	<h3>标签</h3>
	<p>
	{% for tag in site.tags %}
		<a href="/tag/{{ tag | first }}">{{ tag | first }}({{ tag | last | size }})</a>&nbsp;
	{% endfor %}
	</p>
	<h3>分类</h3>
	<ul>
		{% for category in site.categories %}
			<li><a href="/categories/{{ category | first }}">{{ category | first }}({{ category | last | size }})</a></li>
		{% endfor %}
	</ul>
	<!--
	<h3>Search</h3>
	<form method="post" action="#" id="search_form">
		<p>
			<input class="search" type="text" name="search_field" value="Enter keywords....." />
			<input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="/styles/search.png" alt="Search" title="Search" />
		</p>
	</form>
	-->
</div>
